*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}
img{
    width: 100%;
}
.wrapper{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100% !important;
    background: linear-gradient(to right top, 
    #65dfc9, #6cddeb);
}

.glass{
    background:white;
    min-height: 80vh;
    width: 60%;
    border-radius: 2rem;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    backdrop-filter:blur(2rem);
    background: linear-gradient(to right bottom, 
    rgba(255,255,255,.7),
    rgba(255,255,255,.3));
}
@media (max-width:750px){
    .glass{
        width: 90%;
    }
}
@media (max-width:550px){
    .glass{
        display: block;
    }
}
.toutch-btm,.toutch-top{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    background: white;
    background: linear-gradient(to right bottom,
     rgba(255,255,255,.8),
     rgba(255,255,255,0.3));
}
.toutch-top{
    top: 1%;
    right:15%;
}
.toutch-btm{
    bottom: 2%;
    left: 15%;
}
.input-control{
    margin: .7rem auto;
    width: 95%;
}
.hero-wrapper{
   flex: 1;
}
.hero-wrapper img{
    max-width: 200px;
    margin: auto;
    display: flex;
 }
.form-wrapper{
    flex: 2;
}
.form-wrapper h1{
    text-align: center;
    color: #68DFD8;
    font-size: 2rem;
    text-shadow: -2px 2px 1px rgba(62, 71, 116, 0.5);
}
.input-control input{
    width: 100%;
    color: gray;
    padding: 0.5rem;
    letter-spacing: 1px;
    font-size: 1.2rem;
    border:none;
    outline: none;
    height: 45px;
    border-radius: .5rem;
    background: linear-gradient(to left top,
    rgba(255,255,255,1),
    rgba(255,255,255,0.7));
    box-shadow: 6px 6px 20px rgba(122,122,122,0.2);
}

.input-control input[type=submit]{
    color: white;
    cursor: pointer;
    background: linear-gradient(to right top, 
    #65dfc9, #6cddeb);
    box-shadow: 6px 6px 20px rgba(245, 243, 243, 0.4);
}
.input-control label{
    display: block;
    font-size: 1.1rem;
    text-indent: .5rem;
    color: #42b9b3;
}
.nav-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 9999;
}
.nav-wrapper ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.nav-wrapper ul li{
    padding: .2rem .2rem;
}
.nav-wrapper ul li a{
    display: block;
    color: #1579a3;
    font-size: 1.2rem;
    padding: .3rem .6rem;
    text-decoration: none;
    border-radius: 1rem;
    background: #6cddeb;
    background: linear-gradient(to right bottom, 
    rgba(255,255,255,.7),
    rgba(255,255,255,.3));
    box-shadow: 6px 6px 20px rgba(245, 243, 243, 0.4);
}